      /*전체 감싸는 속성*/
      .container {
        width: 80%;
        height: 89vh;
        margin: auto;
        background-color:#EEF2F3;
        overflow: auto;
      }
      
      /*가운데 두 개의 박스를 담는 속성*/
      .main {
        width: 70%;
        margin:auto;
        display: block;
      }
      
      .header {
        margin-top: 50px;
      }
      
      .header p {
        color: white;
        text-align: center;
        padding: 20px;
        background-color: #44C794;
        font-size:1.2em;
      }
      
      .box_locker {
        margin-top: 5px;
        background-color: #FFF;
        width: 49%;
        float:left;
        border-top: 5px solid #44C794;
        border-radius: 5px;
        margin-bottom: 30px;
      }
      
      .box_table_container {
        width: 80%;
        margin: auto;
        margin-top:30px;
        margin-bottom:30px;
        color: #464646;
        
      }
      
      /*배치안내도 속성*/
      
      .box_info {
        margin-top: 5px;
        background-color: #FFF;
        width: 49%;
        float:right;
        border-top: 5px solid #44C794;
        border-radius: 5px;
        margin-bottom: 30px;
      }
      
      .box_info_content {
        width: 80%;
        margin: auto;
        margin-top:30px;
        margin-bottom:30px;
      }
      
      .box_info_content p {
        text-align: center;
        color: #464646;
      }
      
      .box_info_content table {
        border-collapse: separate;
        width :100%;
        margin: auto;
      }
      
      .box_info_content tr {
        border: 1px solid #777;
        border-radius: 15px 15px 15px 15px;
        padding: 10px;
        width:80%;
        color: #000;
      }
      
      .box_info_content td {
        border: 1px solid #777;
        border-radius: 15px 15px 15px 15px;
        padding: 8px;
        text-align: center;
        color:#777;
      }
      
      .box_info_content td:hover {
        background-color:#2E3440;
        color:#fff;
      }
      
      .box_info_content a {
        color: #777;
        text-decoration:none;
      }
      
      .box_info_content a:hover {
        color:#fff;
      }
      
      
      .img_info {
        display: block;
        margin-left:auto;
        margin-right: auto;
      } 
      
       .tbl_user_info {
        width:100%;
        margin: auto;
        display:inline-block;
      }
      
      .tbl_user_info table {
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid #eef2f3;
      }
      
      .tbl_user_info td {
        padding: 15px;
      }
      
      .tbl_user_info_content {
        background-color: #fff;
      }
      
      
      /*footer의 속성*/
      .footer p {
        width: 80%;
        margin: auto;
        background-color: #2E3440;
        text-align: center;
        color: #bbb;
        padding: 10px;
      }


/*.cannottake{*/
/*    width:150px;*/
/*    height:50px;*/
/*    border:1px solid red;*/
/*    text-align:center; */
/*    color:red;*/
/*}*/

/*.cantake{*/
/*    width:150px;*/
/*    height:50px;*/
/*    border:1px solid blue;*/
/*    text-align:center; */
/*    color:blue;*/
/*}*/

/*.table_box{*/
/*    border:1px solid yellow;*/
/*    float:left;*/
/*}*/

/*.table_box2{*/
/*    width:8% !important;*/
/*    float:left;*/
/*}*/